* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: blanchedalmond;
}
h1,
h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#bookform {
  align-self: center;
  margin-top: 50px;
}
button {
  width: 100px;
  height: 50px;
}
.modal {
  display: none;
  margin-top: 300px;
  position: fixed;
  align-self: center;
  z-index: 1;
  width: 600px;
  height: 400px;
  overflow: auto;
  background-color: rgb(211, 202, 202);
  border-radius: 20px;
}
.modal-content {
  background-color: #a0ece2;
  padding: 20px;
  width: auto;
  height: 360px;
  border-radius: 20px;
}
.close {
  float: right;
  color: grey;
  font-size: 25px;
  border: solid;
  border-radius: 10px;
}
.close:hover {
  cursor: pointer;
  color: black;
}
table {
  width: 90%;
  background-color: grey;
  margin-top: 20px;
  margin-left: 5%;
  text-align: center;
  padding: 5px;
}
td {
  background-color: white;
}
